﻿@model IEnumerable<webfashion.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<style>
    .col-md-3 {
        width: calc(20% - 10px);
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        padding: 5px;
    }

    .img img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    .col-xs-2-4 {
        -webkit-flex-basis: 20%;
    }
    .name{
        /* width: 500px; */
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        -webkit-line-clamp: 2;
        /* height: 42px; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .price{
        display: flex;
    }
</style>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="linkItems">
                <a href="#">
                    <div class="detailItem">
                        <div class="img">
                            <img src="@item.Thumbnail" style="width: 150px" alt="Alternate Text" />
                        </div>
                        <div class="desItem">
                            <div class="name">
                                <div>@Html.DisplayFor(modelItem => item.Name)</div>
                            </div>
                            <div class="price">
                                <div>@Html.DisplayFor(modelItem => item.Price)</div>
                                <span>đ</span>
                            </div>
                            <div class="evaluate">
                                <div class="Yy_uTH"><svg height="16" viewBox="0 0 16 16" width="16" version="1.1"><path d="m7.251221 4.2145388c-.549143-.4552525-1.2488781-.7145388-1.951221-.7145388-1.5719593 0-2.8 1.2269253-2.8 2.7970027 0 .5878515.158291 1.1598348.483492 1.7618948.6414654 1.1875754 1.5644044 2.1358244 4.4829309 4.7799304l.5348542.4864596.5326254-.4807607c2.9306205-2.660747 3.8471674-3.6039919 4.486777-4.7931984.3223805-.5993922.4793205-1.1689848.4793205-1.7543257 0-1.5700774-1.2280407-2.7970027-2.8-2.7970027-.7029148 0-1.4032175.2597087-1.9497845.7133288l-.0367779.0309601c-.1203966.1029087-.2318185.2143106-.3329071.3329122l-.3805305.4464557-.3805305-.4464557c-.1010886-.1186016-.2125105-.2300035-.3301434-.3305672z" fill="none" stroke="#000" stroke-opacity=".54"></path></svg></div>
                                <div class="_18SLBt">Đã bán 8</div>
                                <div>@Html.ActionLink("AddToCart", "AddToCart", "ShoppingCart", new { productId = item.Id, quantity = 1 }, null)</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>




